<mat-card>Usuario {{userData?.name}}</mat-card>
<mat-tab-group>
    <mat-tab label="Donaciones">
        <app-conation-list-user [idUsers]="idUser"></app-conation-list-user>
    </mat-tab>

    <mat-tab label="Peticiones" *ngIf="idUser" >
        <app-petition-list-objects [idUsers]="idUser"></app-petition-list-objects>
    </mat-tab>

    <mat-tab label="Horas" *ngIf="idUser">
        <app-hours-active-list-user [idUsers]="idUser"></app-hours-active-list-user>
    </mat-tab>

    <mat-tab label="Calendario" *ngIf="idUser">
        <app-calendar [idUsers]="idUser"></app-calendar>
    </mat-tab>
</mat-tab-group>