<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img style="border-radius: 10%;" src="../../../assets/test.png" id="icon" alt="User Icon" />
        <!-- <h1>Registro Ice Cream Mir4</h1> -->
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario" [(ngModel)]="usuario">
        <input type="text" id="discord" class="fadeIn second" name="discord" placeholder="discord" [(ngModel)]="discord">
        <input type="text" id="contrasenia" class="fadeIn second" name="contrasenia" placeholder="contraseña" [(ngModel)]="pass">
        <input type="submit" class="fadeIn fourth" value="Registrar" (click)="register()" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="['/login']" >Iniciar sesión</a>
      </div>
  
    </div>
  </div>