<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img style="border-radius: 10%;" src="../../../assets/test.png" id="icon" alt="User Icon" />
        <!-- <h1>Ice Cream Mir4</h1> -->
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm">
        <input formControlName="usuario" type="text" id="usuario" class="fadeIn second" name="usuario" placeholder="usuario" >
        <input formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="contraseña" >
        <input [disabled]="!loginForm.valid" (click)="goLogin(loginForm.value)" type="submit" class="fadeIn fourth" value="Entrar" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="['/register']" >Registrate</a>
      </div>
  
    </div>
  </div>